body  {
background: radial-gradient( DodgerBlue, Aqua);
font-family: 'K2D', sans-serif;
}

h1:after,  h1:before {
        background:	Tomato;
        content: "";
        height: 3px;
        position: absolute;
        top: 18%;
        width: 28%;
      }

h1:before {
        left: 0;
      }

 h1:after {
        right: 0;
      }

h1{
        color:yellow;
        font-size: 100px;
      }
table{
  align-items: center;
  width: 200px;
  text-align: left;
}



button:hover {
background-color: #ddd;
}

button{
  margin: 40px;
  padding: 15px;
  background-color: GhostWhite;
  border-radius: 8px;
  font-size: 30px;
}
.content{
  padding: 40px;
  font-size: 30px;
  font-family: 'Mali',serif;
  color: white;
  margin: auto;
  width: 35%;
  border: 3px solid white;
  text-align: left;
}
