body {
  background-image:url('2.jpg');
  background-repeat:no-repeat;
   background-position:center;
   background-size: cover;
   background-color:#CCCCCC;
   text-align: center;
}
.center1
{
      color:LemonChiffon;
      margin:0 auto;
      width: 50%;
      height:100%;
  }
 h1:after, h1:before {
        background:	Tomato;
        content: "";
        height: 3px;
        position: absolute;
        top: 12%;
        width: 30%;
      }

h1:before {
        left: 0;
      }

 h1:after {
        right: 0;
      }

h1{
        color:yellow;
        font-size:70px;
        padding-bottom:1px;
        }

h2{
    color:LemonChiffon;
    font-size:40px;
}

.searchForm{
    width:140px;
    height:20px;
}
.btn{
  background-color: GhostWhite;
    height:35px;
    width:150px;
    font-size:22px;
    font-family: 'Mali',serif;
}
.center3{
      margin:0 auto;
      width: 12%;
      height:100%;
      }
h3{
      font-size:30px;
  }

.center2
{
      font-family: 'Mali',serif;
      margin:0 auto;
      width: 80%;
      height:100%;
  }
input{
      width:40px;
      font-size:15px;
      border: 2px;
      border-radius: 6px;
}
button{
  background-color: GhostWhite;
  border-radius: 8px;
  font-size: 15px;
}
.button1{
  font-size: 30px;
}
.content{
  padding: 1%;
  font-size: 35px;
  font-family: 'Mali',serif;
  color: white;
  margin: auto;
  width: 45%;
  border: 3px solid white;
  text-align: center;
}
p{
  text-align: center;
}
button:hover {
background-color: #ddd;
}
