body {
background: radial-gradient( DodgerBlue, Aqua);

}
.content{
  font-family: 'Mali',serif;
  color: white;
  margin: auto;
  width: 40%;
  border: 3px solid white;

}
.center1{
      font-family: 'Mali',serif;
      color:#68A5D8;
      margin:0 auto;
      width: 40%;
      height:100%;
      }

.center1 h1:after, .center1 h1:before {
        background:	Tomato;
        content: "";
        height: 3px;
        position: absolute;
        top: 12%;
        width: 35%;
      }

h1:before {
        left: 0;
      }

 h1:after {
        right: 0;
      }

h1{
        font-size:50px;
        font-weight:bold;
        padding-bottom:3px;
        }

h2{
    font-size:40px;
}
.center2{
  font-family: 'Mali',serif;
  font-size:30px;
  color:#68A5D8;
  margin:0 auto;
  width: 35%;
  height:100%;
}

.searchForm{
    background-color:	#CEC973;
    width:145px;
    height:20px;
}
.btn{
    height:35px;
    width:150px;
    background-color:	GhostWhite;
    font-size:22px;
    font-family: 'Mali',serif;
}
.center3{
      margin:0 auto;
      width: 12%;
      height:100%;
      }
h3{
      font-size:30px;
  }
button{
    background-color: GhostWhite;
    border-radius: 8px;
    font-size: 30px;
  }
table
{
    width:100%;
    font-size: 30px;
}
button:hover {
background-color: #ddd;
}
