body {
  background: radial-gradient( DodgerBlue, Aqua);
  text-align: center;
}

.center1{
      font-family: 'Mali',serif;
      color:#68A5D8;
      margin:0 auto;
      width: 40%;
      height:100%;
}

.center1 h1:after, .center1 h1:before {
        background:	Tomato;
        content: "";
        height: 3px;
        position: absolute;
        top: 12%;
        width: 30%;
      }

  ul {
    list-style-type: none;
  }

h1:before {
        left: 0;
      }

 h1:after {
        right: 0;
      }

h1{
  color:yellow;
  font-size: 70px;
}

table
  {
      width:100%;
      font-size: 30px;
  }

  h2{
    color:LemonChiffon;
    font-size: 50px;
    text-align: left;
  }


  button:hover {
    background-color: #ddd;
  }


    /* Style the tab */
  .tab {
  padding: 6px 12px;
  border: 3px solid LightYellow;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: Aqua;
  margin-top: 50px;
  }

  /* Style the buttons inside the tab */
  .tab button {
  background-color: inherit;
  /*float: right; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
  background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
  background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
  display: none;
  color: white;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  }
  .content{
    padding: 2%;
    font-size: 25px;
    font-family: 'Mali',serif;
    color: white;
    margin: auto;
    width: 40%;
    border: 3px solid white;
  }
  button{
    padding: 2%;
    margin: 30px;
    background-color: GhostWhite;
    border-radius: 8px;
    font-size: 25px;
  }
